.element_container {
    outline: none;
    border: none;
    width: 200px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
    margin: 10px 10px;
    font-size: 14px;
}

.element_centering {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    width: 180px;
    height: 280px;
}

.flexbox_container {
    display: flex;
    flex-wrap: wrap;
}